# --- Core Framework & Server ---
fastapi
uvicorn[standard]

# --- Database & Migrations ---
sqlalchemy
alembic
psycopg2-binary

# --- Data Validation & Settings ---
pydantic
pydantic-settings
itsdangerous

# --- Environment Variables ---
python-dotenv

# --- Security & Authentication ---
passlib==1.7.4
bcrypt==4.0.1
python-multipart
pyjwt

# --- External API Requests ---
httpx
email-validator>=2.0.0

